.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.126);
    padding: 0 80px;
    backdrop-filter: blur(10px);
}

.navbar_logo{
    font-size: 20px;
}

.navbar_logout-btn{
    border: 0;
    border-radius: 10px;
    padding: 4px 12px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.navbar-btn-red{
    background-color: rgba(239, 75, 75, 0.75);
}
.navbar-btn-red:hover{
    background-color: rgba(239, 75, 75, 0.81);
}
.navbar-btn-green{
    background-color: rgba(79, 186, 40, 0.516);
}
.navbar-btn-green:hover{
    background-color: rgba(64, 156, 30, 0.345);
}
